@model IEnumerable<Contact2015.Models.ViewModels.vmReset>
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_BeforeLogin.cshtml";
}

<div id="rp-page">
    <div class="container">

@using (Html.BeginForm("resetpassword", "user", FormMethod.Post, new { @class = "form-login"}))
{
    @Html.AntiForgeryToken()
            <h2 class="form-login-heading">Reset Password</h2>

            <div class="siteMessage">
                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="alert adjusted alert-danger fade in">
                        <strong>Error!</strong>
                        @Html.ValidationSummary(false)
                    </div>
                }
                @if (ViewBag.Success == 1)
                {
                    <div class="alert adjusted alert-success fade in">
                        <strong>Message</strong>
                        @ViewBag.Message
                    </div>
                }
                @if (ViewBag.Success == 2)
                {
                    <div class="alert adjusted alert-danger fade in">
                        <strong>Message</strong>
                        @ViewBag.Message
                    </div>
                }
            </div>
            <!-- Modal -->
            <div class="login-wrap">
                <input id="txtremail" name="txtremail" type="email" placeholder="User ID" class="form-control input-md" required="" autofocus>
                <span class="help-block">Enter your email address</span>

                <input id="txtroldpwd" name="txtroldpwd" type="password" placeholder="Temporary Password" class="form-control input-md" required="" autofocus>
                <span class="help-block">Enter your temporary password</span>
                
                <input id="txtrpwd1" name="txtrpwd1" type="password" placeholder="New Password" class="form-control input-md" required="" autofocus>
                <span class="help-block">Enter new password</span>

                <input id="txtrpwd2" name="txtrpwd2" type="password" placeholder="New Password" class="form-control input-md" required="" autofocus>
                <span class="help-block">Re-enter new password</span>

                <label class="checkbox">
                    <span class="pull-right">
                        <a data-toggle="modal" href="~/user/login"> Sign In?</a>
                    </span>
                </label>
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Save</button>
                <hr>

                <div class="registration">
                    Don't have an account yet?<br />
                    <a class="" href="mailto:admin@gmail.com">
                        Contact Admin
                    </a>
                </div>

            </div>
            <!-- modal -->
}

    </div>
</div>
